@charset "UTF-8";
/* ==========================================================
=============================================================
=============================================================
= base 
= reset 
=============================================================
=============================================================
=============================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small article,
aside,
footer,
header,
nav,
address,
section,
main,
time,
ol,
ul,
li,
hr,
strong,
figure,
tr,
th,
td,
dl,
dt,
dd,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  -webkit-text-size-adjust: none;
  font-style: normal;
  font-weight: 300;
}

span {
  font-size: inherit;
  font-weight: inherit;
  vertical-align: unset;
}

ul,
ol,
li,
dl {
  list-style: none;
}

br {
  font-family: dotum;
}

a {
  text-decoration: none;
  color: inherit;
}

button:disabled,
button[disabled] {
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}

hr {
  display: none;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Pretendard", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
  font-size: 100%;
  line-height: 1.6;
  outline: none !important;
  background: none;
  cursor: pointer;
}

i {
  font-style: normal;
}

a,
area,
button,
[role=button],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption,
legend {
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
}

th {
  text-align: inherit;
}

input {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: inherit;
  appearance: none;
}

textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
  appearance: none;
}

select {
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  line-height: 100%;
  border-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

html {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "Pretendard", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
}

a:focus {
  opacity: 1;
}

.hide,
.hidden {
  display: none !important;
}

.text-hide {
  font-size: 0 !important;
  text-indent: -9999px;
}

body {
  color: #333;
  background: #eceff1;
  font-size: 16px;
}

.err_404 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.err_404 .message {
  padding: 30px 60px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}
.err_404 .message h2 {
  letter-spacing: 4px;
  color: #ffa100;
  font-size: 96px;
  font-weight: 800;
}
.err_404 .message .desc {
  margin: 20px 0 40px;
  color: rgba(0, 0, 0, 0.6);
}
.err_404 .btn-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.err_404 .btn-box .btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgba(255, 161, 0, 0.6);
  border-radius: 10px;
  transition: 0.3s;
}
.err_404 .btn-box .btn:hover {
  background-color: rgba(255, 161, 0, 0.6);
}