body {
    font-size: 19px;
    line-height: 1.7;
    @include get-color(color, color-font);
    background: url(#{$path-image}/bg-intro_obj.png) no-repeat top 40% center;
    @include get-color(background-color, color-bg);
    @include scrollbarY;
    overflow-x: hidden;
    transition: color, background 0.2s;

    @include mobs {
        font-size: 16px;
        line-height: 1.6
    }

    &.overflow {
        overflow-y: hidden;
        padding-right: 8px;
    }
}